.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /*First Section Styling*/
 
.container{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap:10vw;
  min-height: 99.5vh;
  padding:  0px 2vw 0px 2vw;
}
.speech{
  font-weight: 600;
  font-size: 3vw;
  color:whitesmoke;
}
.container img{
  width:20%;
  animation: logo-flowing ease-in-out 2s infinite;
  /*filter: drop-shadow(2px 2px 5px #ffc86b);*/
}
.speech span{
  font-size:4vw;
  display: inline-block;
  animation: hand-flowing ease-in-out 1s infinite;
}
#speech-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#speech-container button{
  padding:10px;
  font-size: x-large;
  font-weight:bold;
  border-radius: 10px;
  background-color: transparent;
  border: 4px solid #ffc86b;
  color: whitesmoke;
  cursor: pointer;
  
}

#speech-container button:hover{
  background-color: #ffc86b;
  color:black;
  transition: 0.1s ease-in;
}
@keyframes logo-flowing {
  0%{
    transform: translateY(-10px);
  }
  
  50%{
    transform: translateY(0px);
  }
  
  100%{
    transform: translateY(-10px)
  }
  
}

@keyframes hand-flowing {
  0%{
    transform: translateY(-10px) translateX(0.5vw);
  }
  
  50%{
    transform: translateY(0px) translateX(0vw);
  }
  
  100%{
    transform: translateY(-10px)  translateX(0.5vw);
  }
  
}



/*About Section Styling*/
#about{
  gap:1px
}
.about{
  font-size: larger;
  position:relative;
  padding-left: 50px;
  flex-grow: 1;
}
.about::before{
  content: "";
  width:40px;
  background-color: #fec86b;
  height: 3px;
  top:10px;
  left:0px;
  position:absolute;
  
}

h1{
  margin-bottom: 10px;
}
ul{
  padding-bottom: 20px;
}
li{
  margin-left: 20px;
  list-style-type: none;
  position:relative;
}
li::before{
  content:"";
  width: 15px;
  height: 15px;;
  border-radius:100px;
  background-color:#fec86b;
  position:absolute;
  top:8px;
  left:-22px;
  box-shadow:0px 0px 10px #fec86b;
  animation: bulletShine 2s infinite ease-in-out;
}
hr{
  border-color:#ffc86b;
  
}
#aboutPicture{
  width: 100%;
  filter: drop-shadow(1px 1px 5px black);  
  animation: logo-flowing ease-in-out 1.5s infinite;
}



/*Skill Section*/
.skillsContainer{
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap:wrap;
  justify-content: center;
  padding: 50px
}
.skill{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3d3e42;
  min-width: fit-content;
  min-height: fit-content;
  width:200px;
  height:200px;
  border-radius: 10px;
  transition: 0.1s ease-in;
}

.skill:hover{
  background-color: #fec86b;
  color:#282c34;
  
}
.skill:hover img{
  filter: drop-shadow(3px 3px 3px black);
}
.skill img{
  animation:none;
  width:70px
}

.skill label{
  font-size: 20px;
  font-weight: 700;
  padding:10px;
  text-align: center;
}


/*Secondary information section*/
.grid{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position:relative;
  top:-50px;
}

.gridItem{
  display: flex;
  align-items: center;
  text-align: center;
  padding:20px;
  border-radius: 10px;
  margin: 20px;
  height: 10vh;
  position:relative;
  background-color: #3d3e42;
  transition: 0.1s ease-in;

}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.gridItem::after, .gridItem::before{
  --angle:0deg;
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  background-image: conic-gradient(from var(--angle),transparent 50%,#fec86b);
  top:50%;
  left:50%;
  translate: -50% -50%;
  z-index:-1;
  padding:3px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
  transition: 0.2s ease-in-out;
}

.gridItem::before{
  filter:blur(1rem);
  
}
.gridItem h2{
  transition: 0.1s ease-in;

}
.gridItem:hover h2{
  transform:translate3d(5px,-5px,0px);

}

/*Communication Secion*/
#communicationContainer{
  height: 80vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  text-align: center;
  position:relative;
}
#invWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:30px;
  margin-top: 100px;
}
/*footer*/
footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  min-width: 80vw;
  justify-self:end;
  gap:20px;
  position:absolute;
  bottom:30px
  
}
.comIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:20px;
}
.comIcons a{
  padding:6px;
  border:1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.comIcons a img{
  width: 24px;
  height:24px;
  min-height: 24px;;
  min-width: 24px;
}
#Invitation{
  font-size: 3rem;
  font-weight: bold;

}
#communicationContainer p{
  font-size: medium;
}
#email{
  padding:15px 40px 15px 40px;
  text-decoration: none;
  color:white;
  font-size: large;
  background-color: #3d3e42;
  border-radius: 10px;
  position:relative;
  transition: 0.1s ease-in;
}
#email::before, #email::after{
  content:'';
  position:absolute;
  z-index:-2;
  height:100%;
  width:100%;
  background-image: conic-gradient(from var(--angle),transparent 50%,#fec86b);
  top:50%;
  left:50%;
  translate: -50% -50%;
  padding:2px;
  border-radius: 10px;
  animation: 5s spin linear infinite;
  transition: 0.2s ease-in-out;

}
#email:hover{
  box-shadow: 0px 0px 50px burlywood;
}
#email:hover::after, #email:hover::before{
  padding:0;
}
@keyframes spin {
  from{
    --angle:0deg;

  }
  to{
    --angle:360deg;


  }
}
@keyframes bulletShine {
  0%{
    box-shadow: 0px 0px 10px #fec86b;
  }
  50%{
    box-shadow: 0px 0px 0px #fec86b;
  }
  100%{
    box-shadow: 0px 0px 10px #fec86b;
  }
}
@media(max-width:1024px) and (min-width:601px){
  h1{
    font-size: 3vw;
  }
  h3{
    font-size: 2.3vw;
  }
  .about{
    font-size: medium;
  }
  .grid{
    flex-direction: column;
    top:0
  }

}
@media(max-width:600px){
  .container{
    flex-direction: column;
  }
  .container img{
    width:30vw;
  }
  .speech{
    font-size: 7vw;
  }
  .speech span{
    font-size: 30px;
  }
  #name{
    font-size:8vw
  }
  
  /*About Section*/
  h1{
    font-size: x-large;
  }
  h3{
    font-size: medium;
  }
  .about{
    font-size: large;
  }
  #aboutPicture{
    display: none;
  }

  /*Skill Section*/
  .skillsContainer{
    gap:15px;
    padding: 25px;
  }
  .skill{
    width: 130px;
    height: 130px;
  }
  .skill img{
    width:35px
  }
  .skill label{
    font-size: 15px;
  }

  /*info*/
  .grid{
    flex-direction: column;
    top:0;
    font-size: small;
  }

  /*contact*/
  footer{
    flex-direction: column;
  }
  .comIcons{
    bottom:5px
  }
  #Invitation{
    font-size: 2rem;
    font-weight: bold;
  
  }
  

}
